<div class="container">
    <h2 class="title">Editar Anuncio</h2>

    <%= render 'form', announcement: @announcement %>

    <p class="text-center">
        <%= link_to 'Mostrar', @announcement , :class => 'btn btn-sm btn-primary btn-primary' %> |
        <%= link_to 'Regresar', announcements_path, :class => 'btn btn-sm btn-primary btn-primary' %>
    </p>
</div>

