<div class="container">    
    <h1 class="title">Nuevo Anuncio</h1>

    <%= render 'form', announcement: @announcement %>

    <p class="text-center">
        <%= link_to 'Back', announcements_path , class:"btn btn-sm btn-primary"%>
    </p>
</div>


