<div class="container">
    <h2 class="title">Nuevo Anuncio</h2>

    <%= render 'form', announcement: @announcement %>
    <p class="text-center">
        <%= link_to 'Regresar', announcements_path , class:"btn btn-sm btn-primary"%>
    </p>
</div>
