<div class="container">
    <h1 class="title">Editar Usuario</h1>

    <%= render 'form', user: @user %>
    
    <p class="text-center">
        <%= link_to 'Mostrar', @user , :class => 'btn btn-sm btn-primary btn-primary' %> |
        <%= link_to 'Regresar', users_path, :class => 'btn btn-sm btn-primary btn-primary' %>
    </p>
</div>

