<div class="container">
  <h1 class="title">Usuario</h1>
    <p class="text-center">
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p class="text-center">
      <strong>Admin:</strong>
      <%= @user.admin %>
    </p>

  <p class="text-center">
    <%= link_to 'Editar',  edit_user_path(@user), :class => 'btn btn-sm btn-primary'%> |
    <%= link_to 'Regresar', users_path, :class => 'btn btn-sm btn-primary' %>
  </p>
</div>



