<div class="container">
    <h2 class="title">Editar Documento</h2>

    <%= render 'form', document: @document %>

    <p class="text-center">
        <%= link_to 'Mostrar', @document , :class => 'btn btn-sm btn-primary btn-primary' %> |
        <%= link_to 'Regresar', documents_path, :class => 'btn btn-sm btn-primary btn-primary' %>
    </p>
</div>