<div class="container">
    <h2 class="title">Nuevo Documento</h2>

    <%= render 'form', document: @document %>

    <p class="text-center">
        <%= link_to 'Back', documents_path , class:"btn btn-sm btn-primary"%>
    </p>
</div>

