<div class="container">
    <h1 class="title">Editar Profesor</h1>

    <%= render 'form', professor: @professor %>
    
    <p class="text-center">
    <%= link_to 'Mostrar', @professor , :class => 'btn btn-sm btn-primary btn-primary' %> |
    <%= link_to 'Regresar', professors_path, :class => 'btn btn-sm btn-primary btn-primary' %>
    </p>
</div>