<div class="container">
    <h2 class="title">Nuevo Profesor</h2>
    <%= render 'form', professor: @professor %>
    <p class="text-center">
        <%= link_to 'Back', professors_path , class:"btn btn-sm btn-primary"%>
    </p>
</div>
