<div class="container">
    <h2 class="title">Editar Vinculación</h2>

    <%= render 'form', link: @link %>

    <p class="text-center">
        <%= link_to 'Mostrar', @link , :class => 'btn btn-sm btn-primary btn-primary' %> |
        <%= link_to 'Regresar', links_path, :class => 'btn btn-sm btn-primary btn-primary' %>
    </p>
</div>

