<div class="container">
    <h2 class="title">Nuevo Vinculación</h2>

    <%= render 'form', link: @link %>

    <p class="text-center">
        <%= link_to 'Back', links_path , class:"btn btn-sm btn-primary"%>
    </p>
</div>

