<div class="container">
    <h1 class="title">Editar Curso</h1>

    <%= render 'form', course: @course %>

    <p class="text-center">
    <%= link_to 'Mostrar', @course , :class => 'btn btn-sm btn-primary btn-primary' %> |
    <%= link_to 'Regresar', courses_path, :class => 'btn btn-sm btn-primary btn-primary' %>
    </p>
</div>


