<div class="container">
    <h2 class='title'>Nueva Materia</h2>

    <%= render 'form', course: @course %>
    <p class="text-center">
        <%= link_to 'Back', courses_path , class:"btn btn-sm btn-primary"%>
    </p>
</div>
