<div class="container">
    <h1 class='title'>Nuevo Curso</h1>

    <%= render 'form', course: @course %>
    <p class="text-center">
        <%= link_to 'Back', courses_path , class:"btn btn-sm btn-primary"%>
    </p>
</div>
